
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

::-webkit-scrollbar {
	width: 15px;
	background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
	background: hsla(0,0%,100%,.14);
} 

html {
  --ui-accent-color: var(--blue);
  --highlight-color: var(--yellow);
  --link-color: var(--sapphire);
  --link-missing-color: var(--peach);
  --link-invalid-color: var(--red);
  --meta-color: var(--peach);
  --meta-subtle-color: var(--sky);
  --subtle-color: var(--sky);
  --subtle-background-color: var(--suface0);
  --root-background-color: var(--base);
  --root-color: var(--text);
  --top-color: var(--text);
  --top-background-color: var(--mantle);
  --top-border-color: var(--surface0);
  --top-sync-error-color: var(--top-color);
  --top-sync-error-background-color: var(--red);
  --top-saved-color: var(--green);
  --top-unsaved-color: var(--subtext0);
  --top-loading-color: var(--yellow);
  --panel-background-color: var(--text);
  --panel-border-color: var(--text);
  --bhs-background-color: var(--text);
  --bhs-border-color: var(--surface2);
  --modal-color: var(--subtext1);
  --modal-background-color: var(--base);
  --modal-border-color: var(--surface1);
  --modal-header-label-color: var(--ui-accent-color);
  --modal-help-background-color: var(--mantle);
  --modal-help-color: var(--subtext1);
  --modal-selected-option-background-color: var(--ui-accent-color);
  --modal-selected-option-color: var(--crust);
  --modal-hint-background-color: var(--blue);
  --modal-hint-color: var(--crust);
  --modal-description-color: var(--overlay2);
  --notifications-background-color: var(--mantle);
  --notifications-border-color: var(--surface2);
  --notification-info-background-color: var(--blue);
  --notification-error-background-color: var(--red);
  --action-button-background-color: transparent;
  --action-button-color: var(--overlay2);
  --action-button-hover-color: var(--sky);
  --action-button-active-color: var(--sky);
  --editor-caret-color: var(--text);
  --editor-selection-background-color: var(--overlay0);
  --editor-panels-bottom-color: var(--green);
  --editor-panels-bottom-background-color: var(--base);
  --editor-panels-bottom-border-color: var(--surface0);
  --editor-completion-detail-color: var(--overlay0);
  --editor-completion-detail-selected-color: var(--text);
  --editor-list-bullet-color: var(--overlay1);
  --editor-heading-color: var(--text);
  --editor-heading-meta-color: var(--meta-subtle-color);
  --editor-hashtag-background-color: var(--peach);
  --editor-hashtag-color: var(--crust);
  --editor-hashtag-border-color: var(--peach);
  --editor-ruler-color: var(--surface1);
  --editor-naked-url-color: var(--link-color);
  --editor-link-color: var(--link-color);
  --editor-link-url-color: var(--link-color);
  --editor-link-meta-color: var(--meta-subtle-color);
  --editor-wiki-link-page-background-color: var(--suface1);
  --editor-wiki-link-page-color: var(--link-color);
  --editor-wiki-link-page-missing-color: var(--link-missing-color);
  --editor-wiki-link-page-invalid-color: var(--red);
  --editor-wiki-link-color: var(--mauve);
  --editor-named-anchor-color: var(--meta-subtle-color);
  --editor-command-button-color: var(--text);
  --editor-command-button-background-color: var(--surface0);
  --editor-command-button-hover-background-color: var(--surface1);
  --editor-command-button-meta-color: var(--meta-subtle-color);
  --editor-command-button-border-color: var(--surface1);
  --editor-line-meta-color: var(--meta-subtle-color);
  --editor-meta-color: var(--meta-color);
  --editor-table-head-background-color: var(--mantle);
  --editor-table-head-color: var(--text);
  --editor-table-even-background-color: var(--surface0);
  --editor-blockquote-background-color: var(--subtle-background-color);
  --editor-blockquote-color: var(--subtle-color);
  --editor-blockquote-border-color: var(--surface1);
  --editor-code-color: var(--surface0);
  --editor-code-background-color: var(--mantle);
  --editor-struct-color: var(--red);
  --editor-highlight-background-color: var(--highlight-color);
  --editor-code-comment-color: var(--meta-subtle-color);
  --editor-code-variable-color: var(--sapphire);
  --editor-code-typename-color: var(--green);
  --editor-code-string-color: var(--mauve);
  --editor-code-number-color: var(--mauve);
  --editor-code-info-color: var(--subtle-color);
  --editor-code-atom-color: var(--blue);
  --editor-admonition-note-border-color: var(--sky);
  --editor-admonition-note-background-color: var(--surface0);
  --editor-admonition-warning-border-color: var(--peach);
  --editor-admonition-warning-background-color: var(--surface0);
  --editor-frontmatter-background-color: var(--surface0);
  --editor-frontmatter-color: var(--subtle-color);
  --editor-frontmatter-marker-color: var(--text);
  --editor-widget-background-color: var(--suface1);
  --editor-task-marker-color: var(--subtle-color);
}
#sb-main .cm-textfield {
  background-color: var(--mantle);
}
#sb-main .cm-button{
  background-image: linear-gradient(var(--surface0), var(--surface1));
}
#sb-main ::-webkit-scrollbar {
  background-color: var(--mantle);
  color: var(--overlay0);
}
